.card{
    margin: 1rem 1rem 1rem 0;
    padding: 1.5rem;
    width: 250px;
    box-shadow: 0 0 28px 4px rgba(0,0,0,0.2);
    transition: transform .3s ease;
    cursor: pointer;
    background-color: black;
    color: white;
}

.card:hover{
    transform: scale(1.1);
}

.card_title{
    font-size: 1.5rem;
    font-weight: 800;
}

.card_image{
    display: flex;
    justify-content: flex-end;
}

.reported {
    color: red;
    font-size: 30px;
}

.card_title_admin{
    color: #00B344;
    font-size: 1.5rem;
    font-weight: 800;
}

.card-container {
	background-color: black;
	min-width: 350px;
	max-width: 800px;
	height: auto;
	border-radius: 14px;
	box-shadow: #00B344;
}

.header_profile {
	   
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-size: contain;
	text-align: center;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
}

.image_profile {
	margin: auto;
	width: 200px;
	border: solid white 4px;
	border-radius: 50%;
	margin-top: 75px;
}

.bold-text {
	font-weight: bold;
	font-size: 1.1rem;
	text-align: center;
	padding: 10px 20px 0px 20px;
}

.normal-text {
	font-weight: normal;
	font-size: 0.95rem;
	color: hsl(0, 0%, 50%);
	text-align: center;
	padding-bottom: 10px;
}

/* SOCIAL STATS */
.smaller-text {
	font-weight: normal;
	font-size: 0.7rem;
	color: hsl(0, 0%, 50%);
	text-align: center;
	letter-spacing: 1px;
	padding-bottom: 20px;
	line-height: 5px;
}

.social-container {
	display: flex;
	border-top: solid rgb(206, 206, 206) 1px;
	text-align: center;
}

.followers {
	flex: 1;
}

.likes {
	flex: 1;
}

.photos {
	flex: 1;
}